@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: 'ubuntu', sans-serif ;
    color: white;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
._container {
    max-width: 1200px;
    margin: 0 auto;
}
/*-----------------HEADER---------------------------------------------------------------------------*/

.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}
.header-container {
    display: flex;
    min-height: 124px;
    align-items: center;
}

.header-logo {
    margin-right: 111px;
    display: flex;
    align-items: center;
}
.header-logo h1 {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.055em;
    margin-left: 11px;
    cursor: pointer;
}

.header-menu {
    display: flex;
}
.header-menu li {
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    cursor: pointer;
}
.underline {
    border-bottom: 1px solid white;
    padding-bottom: 9px;
}
.header-menu li:not(:last-child) {
    margin-right: 48px;
}

.header-menu2 {
    margin-left: 74px;
}
.header-menu2 p {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    cursor: pointer;
}
.header-menu2 h1 {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
}

.header-menu3 {
    margin-left: 53px;
    display: flex;
    align-items: center;
}
.header-menu3 button {
    cursor: pointer;
    margin-right: 21px;
    border-radius: 100px;
    background: transparent;
    color: white;
    border: 1px solid #FFFFFF;
    width: 168px;
    height: 38px;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;

}
.header-menu3 p {
    font-size: 15px;
    font-weight: 700;
    line-height: 17px;
}
/*------------------MAIN BLOCK1--------------------------------------------------------------------------*/

.page {
    background: url("background.jpg");
    display: flex;
    width: 100%;
    height: 765px;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
}
.main-block {
    max-width: 633px;
    align-items: center;
    justify-content: center;
    margin-top: 274px;
}
.title {
    font-size: 50px;
    font-weight: 700;
    line-height: 57px;
    text-align: center;
    margin-bottom: 18px;
}
.text {
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin-bottom: 21px;
}
.button2 {
    height: 50px;
    width: 209px;
    border-radius: 69px;
    background: #FF7D34;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: white;
    border: 0;
    margin-left: 212px;
    cursor: pointer;
}
.arrow {
    margin-top: 184px;
    margin-left: 309px;
}
/*------------------MAIN BLOCK2--------------------------------------------------------------------------*/

.main-block2 {
    margin-top: 98px;
    width: 100%;
    height: 576px;
}
.main-block2-title {
    font-size: 38px;
    font-weight: 700;
    line-height: 44px;
    color: #543024;
    margin-bottom: 47px;
}

.country-block {
    display: flex;
}
._country {
    display: flex;
    min-width: 585px;
    min-height: 173px;
    box-shadow: 0 17px 50px rgba(32, 40, 69, 0.14);
    border-radius: 15px;
    cursor: pointer;
}

.india img {
    margin-right: 30px;
}

.menu-button {
    background: #EE3C5C;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
    border: 0;
    border-radius: 30px;
    padding: 3px 13px 3px 13px;
    margin-top: 35px;
}

.button-data {
    border: 0;
    background: transparent;
    color: #FF7D34;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    margin-bottom: 16px;
}
.menu-country h1 {
    color: #543024;
    font-size: 19px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    margin-bottom: 12px;
}
.menu-country p {
    color: black;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
}


.tanzania {
    margin-left: 30px;
}
.tanzania img {
    margin-right: 30px;
}
.country-block2 {
    display: flex;
    margin-top: 31px;
}
.more button {
    margin-top: 58px;
    height: 50px;
    width: 245px;
    border-radius: 69px;
    background: transparent;
    border: 1px solid #FF7D34;
    color: #FF7D34;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    cursor: pointer;
}
/*------------------MAIN BLOCK3--------------------------------------------------------------------------*/

.main-block3 {
    margin-top: 96px;
    width: 100%;
    left: 0;
    top: 0;
}
.us {

}
.about-us-title {
    font-size: 38px;
    font-weight: 700;
    line-height: 44px;
    color: #543024;
    margin-bottom: 49px;
}
.about-us-container {
    display: flex;

}
.about-us h1 {
    font-size: 19px;
    font-weight: 700;
    line-height: 22px;
    color: #543024;
    margin-bottom: 25px;
    margin-top: 59px;
}
.about-us p {
    color: black;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    margin-right: 43px;
}
/*------------------MAIN BLOCK4--------------------------------------------------------------------------*/
.main-block4 {
    width: 100%;
    margin-top: 96px;
}
.main-block4 h1 {
    font-size: 38px;
    font-weight: 700;
    line-height: 44px;
    color: #543024;
    margin-bottom: 57px;
}
.contact-form p {
    font-size: 19px;
    font-weight: 700;
    line-height: 22px;
    color: #543024;
}
.contact-text {
    margin-bottom: 45px;
    padding-top: 58px;
    margin-left: 64px;
}
.contact-form {
    display: flex;
    flex-direction: column;
    box-shadow: 0 17px 50px rgba(32, 40, 69, 0.14);
    border-radius: 20px;
    width: 601px;
    height: 534px;
}
.input {
    margin-left: 64px;
    height: 59px;
    max-width: 473px;
    border-radius: 5px;
    border: 1px solid rgba(39, 52, 86, 0.26);
}
.input:not(:last-child) {
    margin-bottom: 15px;
}
.contact-button {
    margin-left: 64px;
    height: 65px;
    width: 296px;
    border-radius: 69px;
    background: #FF7D34;
    border: none;
    color: white;
    cursor: pointer;
}
::placeholder {
    color: rgba(39, 52, 86, 0.56);
    padding-left: 26px;
}
.telefon {

}
.telefon p {
    color: rgba(114, 52, 26, 0.89);
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    margin-left: 219px;
}
.telefon img {
    margin-left: 287px;
    margin-bottom: 23px;
}
.contact {
    display: flex;
    align-items: center;
}
/*------------------FOOTER--------------------------------------------------------------------------*/
.footer {
    margin-bottom: 119px;
    margin-top: 116px;
}
.footer p {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    color: rgba(114, 52, 26, 0.6);
}











